<h1>{{ 'text.welcome' | translate }}</h1>
<p style="text-align: justify">
	O presente projeto é uma aplicação WEB com backend em java spring e angular no frontend. No desenvolvimento foi empregado Lombok, Swagger e servidor H2. A
	infraestrutura empregada para hospedar o servidor foi o Heroku utilizando o banco de dados Postgresql. O contexto da aplicação é sobre os colaboradores de
	uma empresa que tem que levar um ou mais itens para o café da manhã que não seja repetido. A aplicação WEB tem suporte de regionalização e responsividade.
</p>
<div fxLayout="row" fxLayoutAlign="center center">
	<img fxFlex="50%" alt="{{ 'text.app-name' | translate }}" style src="../../../assets/coffee.jpg" />
</div>

<br /><br /><br /><br />
<p style="text-align: justify">
	Desenvolvido por Adriana Mirian Mendes Cardoso <a href="https://www.linkedin.com/in/adriana-mirian-mendes-cardoso/">Linkedin</a> e
	<a href="https://github.com/AdrianaMendes">Github</a>.
</p>
